@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
